# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
pnpm-lock.yaml
yarn.lock

# Environment
.env
.env.local
backend.url

# Build
dist
dist-ssr
.backend
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
